@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ffffff1a;
  --background-start-rgb: #ffffff1a;
  --background-end-rgb: #ffffff1a;
  --text-color: #fffce1
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff1a;
    --background-start-rgb: #ffffff1a;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background-color: #0e100f
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
